.clients-payments__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.clients-payments__filter {
  display: flex;
  flex-direction: row;
}
.clients-payments__search {
  width: 250px;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .clients-payments__head {
    flex-direction: column;
  }
  .clients-payments__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .clients-payments__search {
    width: 100%;
  }
}
