.deed__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.deed__filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.deed__search {
  width: 250px;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .deed__head {
    flex-direction: column;
  }
  .deed__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .deed__search {
    width: 100%;
  }
}


.deed {
  &__green-col {
    background-color: green;
  }
}
