.expenses-info__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.expenses-info__filter {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.expenses-info__search {
  width: 250px;
}

@media only screen and (max-width: 800px) {
  .expenses-info__head {
    flex-direction: column;
  }
  .expenses-info__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
  .expenses-info__search {
    width: 100%;
  }
}
