.orders__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: 1600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.orders__filter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  @media (max-width: 1600px) {
    display: grid;
    grid-template-columns: 45% 45% 45%;
  }
  @media (max-width: 1200px) {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
  }
}

.orders__search {
  width: 250px;

  @media (max-width: 768px) {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .orders__head {
    flex-direction: column;
  }

  .orders__filter {
    display: flex;
    flex-direction: column;
    gap: 15px !important;
    width: 100%;
  }
}

.order {
  &__add-products-header {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    gap: 20px;
    padding-right: 50px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__add-products-header-left {
    display: flex;
    gap: 15px;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

    }
  }

  &__add-products-header-right {
    text-align: end;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
    }
  }

  &__add-products-form {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    gap: 0px 40px;
    align-items: center;
    padding: 30px;

    @media (max-width: 768px) {
      grid-template-columns: 90%;
      gap: 0px;
      padding: 0px;
      margin-bottom: 20px;
    }
  }

  &__show-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
}

.total-calc {
  justify-content: flex-start !important;
}
